footer.content
  a.social-github(href="http://github.com/sethkrasnianski") #[i.icon.icon-github]
  a.social-linkedin(href="http://linkedin.com/pub/seth-krasnianski/30/295/55") #[i.icon.icon-linkedin-square]

  .right.menu
    a(href="/contact") Contact
