extends layout

block content
  section#dead-end
    svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 264.37 264.37')
      defs
        style.
          .a{fill:#ffdf00;}.b{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:4px;}
      title dead_end_signs
      rect.a(x='154.84', y='149.74', width='191.19', height='191.19', rx='7.24', ry='7.24', transform='translate(128.58 -218.38) rotate(45)')
      rect.b(x='161', y='155.9', width='178.87', height='178.87', rx='7.24', ry='7.24', transform='translate(128.58 -218.38) rotate(45)')
      path(d='M187.24,201.63h6.87c3.38,0,8.18.35,12.43,3.94a16.43,16.43,0,0,1,5.76,12.93,16,16,0,0,1-5.91,12.93c-3.08,2.63-6.32,3.89-12.33,3.89h-6.82v-33.7ZM191,231.79h3.28a14.4,14.4,0,0,0,9.65-3,12.89,12.89,0,0,0,4.55-10.26c0-8.08-5.66-13.34-14.2-13.34H191v26.62Z', transform='translate(-118.25 -113.15)')
      path(d='M241.19,205.16H227.45v10h13.34v3.54H227.45v13.08h13.74v3.54H223.71v-33.7h17.48v3.54Z', transform='translate(-118.25 -113.15)')
      path(d='M271.2,225.83H256.85l-4,9.5h-4.14L264.18,200l15.11,35.31h-4.14Zm-1.47-3.54-5.66-13.49-5.76,13.49h11.42Z', transform='translate(-118.25 -113.15)')
      path(d='M288.57,201.63h6.87c3.38,0,8.18.35,12.43,3.94a16.43,16.43,0,0,1,5.76,12.93,16,16,0,0,1-5.91,12.93c-3.08,2.63-6.32,3.89-12.33,3.89h-6.82v-33.7Zm3.74,30.16h3.28a14.4,14.4,0,0,0,9.65-3,12.89,12.89,0,0,0,4.55-10.26c0-8.08-5.66-13.34-14.2-13.34h-3.28v26.62Z', transform='translate(-118.25 -113.15)')
      path(d='M219.32,259H205.58v10h13.34v3.54H205.58V285.6h13.74v3.54H201.84V255.44h17.48V259Z', transform='translate(-118.25 -113.15)')
      path(d='M230.73,289.14V254L257,281.56V255.44h3.74v35.21l-26.27-27.53v26h-3.74Z', transform='translate(-118.25 -113.15)')
      path(d='M274,255.44h6.87c3.38,0,8.18.35,12.43,3.94A16.42,16.42,0,0,1,299,272.32a16,16,0,0,1-5.91,12.93c-3.08,2.63-6.32,3.89-12.33,3.89H274V255.44Zm3.74,30.16H281a14.4,14.4,0,0,0,9.65-3,12.89,12.89,0,0,0,4.55-10.25c0-8.08-5.66-13.34-14.2-13.34h-3.28V285.6Z', transform='translate(-118.25 -113.15)')
