section.content#home
  hgroup#cta
    h1 Full Stack
    h1 Web Development
  p Welcome to my humble abode. I am Seth John Krasnianski, a Software Engineer at #[a.mojotech(href="https://www.mojotech.com") MojoTech]. Orchestrating the life cycle of web applications and solving problems is what I do for a living. When not on #[a.javascript(href="http://stackoverflow.com/users/1842294/seth?tab=tags") JavaScript] benders, you can find me contributing to the open source community on #[a.github(href="http://github.com/sethkrasnianski") GitHub].
  h2 In My Spare Time
  p I'm an avid adventurer and try to spend as much time as I can traveling the world. Rain forests are amazing, but I really dig nature in general. Hiking, swimming, biking, and generally doing anything outdoors are what you'll find me doing outside of programming and traveling. Otherwise you can find me spending some time with my great big family.
