section.content#thank-you
  hgroup.cta
    h1 Thank You
    h1 For Contacting Me!
  p After I encode the binary to text, bit by bit, your message should be ready to read. Once that's done, I'll have my people get in touch with your people... or whatever it is that we're supposed to do.
