.button, button
  background-color: $color-primary
  border: none
  color: $white
  display: inline-block
  font-family: $font-secondary
  font-size: 16px
  letter-spacing: 3px
  margin: 10px 0
  outline: none
  padding: 12px
  text-transform: uppercase

form
  margin: 0 auto 75px auto
  max-width: 580px

  fieldset
    border: none
    padding: 0
  input, textarea, select
    border: none
    padding: 12px
  label, input, textarea
    letter-spacing: 3px
  label
    display: block
    padding: 10px 0
    text-transform: uppercase
  input, textarea
    font-family: $font-primary
    outline: none
    max-width: 100%
    width: 100%
  textarea
    min-height: 38px
  button
    width: 38%
