#home
  h2
    letter-spacing: 6px
  a
    position: relative
    text-decoration: none
    &:after
      bottom: 5px
      content: ""
      display: block
      height: 2px
      left: 0
      position: absolute
      transition: bottom 0.2s ease-in-out
      width: 100%
    &:hover:after
      bottom: 10px
