*
  box-sizing: border-box

.left
  float: left
.right
  float: right

.hide
  display: none

body
  background: $white

header, section, footer
  margin: auto
  max-width: $max-width

header, section, footer, form
  padding: $buffer $gutter
  +below(768px)
    max-width: 100%

.content
  margin: auto
  max-width: $content-width

header
  #logo
    .outline
      opacity: 1
      transition: opacity 0.3s ease-in-out
    &:hover .outline
      opacity: 0

  ul
    list-style: none
    margin: 7px 0
    padding: 0
    li
      display: inline-block

.menu
  li:last-child a
    margin-left: 29px
  a
    color: $color-primary
    display: block
    font-family: $font-secondary
    letter-spacing: 4px
    position: relative
    text-decoration: none
    text-indent: 5px
    text-transform: uppercase
    +below(320px)
      font-size: 70%
    &:after
      background: $color-primary
      bottom: 0
      content: ''
      height: 2px
      left: 0
      opacity: 0
      pointer-events: none
      position: absolute
      transform: translateY(8px)
      transition: transform 0.3s, opacity 0.3s
      width: 100%
    &:hover:after
      opacity: 1
      transform: translateY(5px)

footer
  .icon
    color: $color-primary
    font-size: 40px
    margin-right: 40px
    transition: color 0.3s ease
  a
    &.social-github:hover i
      color: $color-github
    &.social-linkedin:hover i
      color: $color-linkedin
    &.social-facebook:hover i
      color: $color-facebook

  .menu
    margin-top: 10px

  +below(320px)
    text-align: center

    .icon
      margin: 0 20px

    .menu
      float: none
      margin-top: 20px

section#dead-end
  svg
    display: block
    margin: 75px auto
    max-width: 300px
    width: 100%
