h1, h2, h3, h4, h5, h6, p
  color: $color-primary
  text-rendering: optimizeLegibility

h3, h4, h5, h6, p
  font-weight: 500

h1, h2, h3, h4, h5, h6
  font-family: $font-secondary
  letter-spacing: 13px
  line-height: 41px
  text-transform: uppercase

h1, h2
  font-weight: 400

h2
  font-size: 27px
  letter-spacing: 5.5px

p
  font-family: $font-primary
  font-size: 22px
  line-height: 35px

.cta
  padding: 40px 0
  h1
    margin: 0
    text-align: center
    &:last-child
      font-weight: 500

.facebook
  color: $color-facebook

.github
  color: $color-github
  &:after
    background: $color-github

.javascript
  color: $color-javascript
  &:after
    background: $color-javascript

.linkedin
  color: $color-linkedin
  &:after
    background: $color-linkedin

.mojotech
  color: $color-mojotech
  &:after
    background: $color-mojotech
