$font-primary = "adobe-caslon-pro", Georgia, serif

$font-secondary = "futura-pt", "Helvetica Neue", Helvetica, Arial, sans-serif

$color-primary = #383838
$color-facebook = #3464A5
$color-github = #333333
$color-javascript = #FAE204
$color-linkedin =#0076B7
$color-mojotech = #19BC00

$max-width = 960px
$gutter = 15px
$buffer = 20px
