#home h2 {
  letter-spacing: 6px;
}
#home a {
  position: relative;
  text-decoration: none;
}
#home a:after {
  bottom: 5px;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  transition: bottom 0.2s ease-in-out;
  width: 100%;
}
#home a:hover:after {
  bottom: 10px;
}
