.home {
  h2 {
    letter-spacing: 6px;
  }
  a {
    position: relative;
    text-decoration: none;

    &:after {
      bottom: -4px;
      content: "";
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      transition: bottom 0.2s ease-in-out;
      width: 100%;
    }

    &:hover:after {
      bottom: 1px;
    }

    &.mojotech {
      color: var(--color-mojotech);
      &:after {
        background: var(--color-mojotech);
      }
    }

    &.javascript {
      color: var(--color-javascript);

      &:after {
        background: var(--color-javascript);
      }
    }

    &.linkedin {
      color: var(--color-linkedin);
      &:after {
        background: var(--color-linkedin);
      }
    }

    &.github {
      color: var(--color-github);
      &:after {
        background: var(--color-github);
      }
    }
  }
}
